# Log fajlovi
logs
*.log
npm-debug.log*

# Direktorijumi zavisnosti
node_modules/

# Build direktorijumi
/dist
/build

# Env fajlovi
# .env*
.env.development
.env.production
# .env.local

# OS generisani fajlovi
.DS_Store
Thumbs.db

# Editori i IDE
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
